<div class="container h-75" id="section">
  <div class="row h-100 justify-content-center align-items-center">

    <form class="border border-primary panel panel-primary col-lg-offset-3 col-lg-6 p-3" action="" method="post">
    <h2 class="text-center ">Inscription</h2>
    <div class="form-group">
      <div class="row">
        <div class="col-6"><input type="text" class="form-control" name="identifiant" placeholder="Identifiant" required="required"></div>
        <div class="col-6"><input type="text" class="form-control" name="email" placeholder="Email" required="required"></div>
      </div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" name="mdp1" placeholder="Mot de passe" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="mdp2" placeholder="Confirmation du mot de passe" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Créer son compte</button>
    </div>
      <div class="text-center">Déjà inscrit ? <a href="#">Connectez vous !</a></div>
  </form>

</div>
</div>
