<div class="container h-75" id="section">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="border border-primary col-lg-offset-3 col-lg-6" action="" method="post">
          <h2 class="text-center">Connexion</h2>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" required="required">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe" required="required">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Connexion</button>
          </div>
          <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox">Se souvenir de moi</label>
            <a href="#" class="float-right">Mot de passe oublié ?</a>
          </div>
          <p class="text-center"><a href="#">Créer un compte</a></p>
        </form>
      </div>
</div>
